@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-50: #f8f8f8;
  --color-100: #f0f0f0;
  --color-200: #e4e4e4;
  --color-300: #d1d1d1;
  --color-400: #adadad;
  --color-500: #9a9a9a;
  --color-600: #818181;
  --color-700: #6a6a6a;
  --color-800: #5a5a5a;
  --color-900: #4e4e4e;
  --color-hover: #bae6fd;
}

@layer components {
  .custom-heading-div {
    border-radius: 10% 80% 10% 80% / 0% 50% 0% 50%;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%
    );
  }
}
